.toggle {
    background-color: #1057a3;
    color: white;
    border-radius: 50%;  
    border: none;  
    font-size: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 0%;
  }
  
  .drop {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
  }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
.url{
    border: none;
    border-radius: 15px;
    width: 40%;
    padding: 15px;
    margin-top: -7%;
    background-color: rgb(38, 38, 38);
    color: white;
    font-size: 20px;
}
.title{
    border: none;
    border-radius: 15px;
    width: 40%;
    padding: 15px;
    background-color: rgb(38, 38, 38);
    color: white;
    font-size: 20px;
}
  fieldset button {
    background-color: rgb(45, 90, 129);
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 32%;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
  }
  
  fieldset button:hover {
    background-color: #1057a3;
  }
.card{
    margin-left: 8%;
    width: 280px;
    height: 320px;
    border-radius: 7%;
    color: white;
    list-style: none;
    cursor: pointer;
    
}
.card:hover{
    background-color: rgb(33, 33, 33);
}
.card_img{
    width: 250px;
    height: 250px;
    padding: 15px;
    border-radius: 10%;
}

.card_title{
    margin-left: 10%;
    margin-top: -6%;
}

ul li p{
    margin-top: -13%;
}
.card-delete{
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 70%;
    cursor: pointer;
    padding: 5px;
}
.list_len{
    margin-top: -8%;
    margin-left: 10%;
    color: rgb(112, 112, 112);
}
