<div class="parent">
    <div class="container">
      <img src="../assets/logo.png" alt="Web Player Logo" class="webplayer-logo">
      <h2>Войти в Web Player</h2>
      <div class="login-box">
        <form action="#">
          <div class="input-box">
            <p>Электронная почта или имя пользователя</p>
            <input type="email" [(ngModel)]="loginObj.Email" name="Email" required>
          </div>
          <div class="input-box">
            <p>Пароль</p>
            <input type="password" [(ngModel)]="loginObj.Password" name="Password" required>
          </div>
          <button type="button" class="btn" (click)="onLogin()">Войти</button>
        </form>
        
        <div class="signup-link">
            <p>Нет аккаунта?</p>
            <a [routerLink]="['/signup']">Регистрация в Web Player</a>
        </div>
    </div>
  </div>
  