<div class="top-bar">
    <input type="text" placeholder="   What do you want to play" [(ngModel)]="searchQuery" (input)="search()">
</div>
<div class="search">
    <div *ngIf="searched">
        <ul class="search-results">
            <li class="result-card" *ngFor="let item of filteredItems">
                <img class="result-art-img" src="{{item.img_url}}" alt="">
                <h3 class="result-title">{{item.title}}</h3>
                <h4 class="result-art-name">{{item.artist_name}}</h4>
            </li>
        </ul>
    </div>
    <div *ngIf= "!searched">
        <ul>
            <li class="card" *ngFor="let song of songs">
                <img class="art-img" src="{{song.img_url}}" alt="">
                <h3 class="title">{{song.title}}</h3>
                <h4 class="art-name">{{song.artist_name}}</h4>
            </li>
        </ul>
    </div>
    <footer>
        <div class="team">
            <h3 style="color: white;">Our Team</h3>
                <p><li>Kakarov Damir - Developer</li></p>
                <p><li>Kaliyev Yerlan - Developer</li></p>
                <p><li>Askar Nurzhan - Developer</li></p>
        </div>
        <div class="contacts">
            <h3 style="color: white;">Contact Us</h3>
            <p>Phone: +1 234 567 890</p>
        </div>
        <div class="legal">
            <p>&copy; KBTU22BD. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        </div>
    </footer>  
</div>