<div class="album">
    <div class="top-bar">
        <img src="{{playlist.img_url}}" alt="" class="img-title">
        <h1 class="title">{{playlist.title}}</h1>
    </div>
    <div class="album-info">
        <div class="top">
            <input type="text" placeholder="Search " [(ngModel)]="searchQuery" (input)="search()">
        </div>
        <div class="search">
            <div *ngIf="searched">
                <ul class="search-results">
                    <li *ngFor="let song of filteredItems" style="color: white;">
                        {{ song.title }}
                        <button (click)="addtoPlaylist(song)">Add to Playlist</button>
                      </li>
                </ul>
            </div>
        </div>
        <h3>Popular</h3>
        <ul>
            <li *ngFor="let song of songs">
                <button (click)="playSong(song.id)" (click)="this.appComponent.playMusic()" class="song-title">
                    <img class="photo" src="{{song.img_url}}" alt="photo">
                    <p>{{song.title}}</p>
                </button>
                <p class="del"><button (click)="delFromPlaylist(song)">-</button></p>
            </li>
            
        </ul>
    </div>
</div>

