  /* Header styling */
  .home{
    display: flex;
  }
  .main-header {
    flex: 0 0 auto; /* Make the header non-flexible */
    width: 248px; /* Set the width of the header */
    height: 25vh; /* Make the header fill the entire height of the viewport */
    padding: 20px; /* Add some padding for spacing */
    margin: -0.4%;
    background-color: rgb(28, 25, 25); /* Light gray background */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: fixed;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4%; /* Rounded corners */
  }

  
  .main-header h1 {
    font-size: 35px; /* Increase heading size */
    font-weight: 500;
    margin: 0; /* Remove default heading margin */
    padding-left: 2%; /* Remove default heading padding */
    padding-top: 5px;
  }
  /* Navigation styling */
  .navigation-list {
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default list margin */
    padding-top: 40px; /* Remove default list padding */
    margin-top: -11%;
  }
  
  .nav-link {
    text-decoration: none; /* Remove underline from links */
    font-size: 18px;
    font-weight: bold;
    color: inherit; /* Inherit font color from body */
    margin-left:-15%; /* Add some padding for spacing */
    transition: color 0.2s ease-in-out; /* Smooth color transition on hover */
  }

  ul li{
    margin-left: 6%;
    padding-top: 12px;
  }
  
  .nav-link:hover {
    color: rgba(92, 158, 227, 0.961)/* Blue hover color */
  }

  .un-header{
    flex: 0 0 auto;
    width: 248px;
    height: 61vh;
    padding: 20px;
    margin: -0.4%;
    background-color: rgb(28, 25, 25);
    position: fixed;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 3%;
    margin-top: 220px;
  }
  
  /* Content area styling */
  .router-outlet { /* Assuming this is where your main content goes */
    flex: 1; /* Let the content area take the remaining space */
    padding: 20px; /* Add padding for spacing */
  }
  