  /* Header styling */
  .home{
    display: flex;
  }
  .main-header {
    flex: 0 0 auto; /* Make the header non-flexible */
    width: 248px; /* Set the width of the header */
    height: 25vh; /* Make the header fill the entire height of the viewport */
    padding: 20px; /* Add some padding for spacing */
    margin: -0.4%;
    background-color: rgb(28, 25, 25); /* Light gray background */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: fixed;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4%; /* Rounded corners */
  }

  
  .main-header h1 {
    font-size: 35px; /* Increase heading size */
    font-weight: 500;
    margin: 0; /* Remove default heading margin */
    padding-left: 2%; /* Remove default heading padding */
    padding-top: 5px;
  }
  /* Navigation styling */
  .navigation-list {
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default list margin */
    padding-top: 40px; /* Remove default list padding */
    margin-top: -11%;
  }
  
  .nav-link {
    text-decoration: none; /* Remove underline from links */
    font-size: 18px;
    font-weight: bold;
    color: inherit; /* Inherit font color from body */
    margin-left:-15%; /* Add some padding for spacing */
    transition: color 0.2s ease-in-out; /* Smooth color transition on hover */
  }

  ul li{
    margin-left: 6%;
    padding-top: 12px;
  }
  
  .nav-link:hover {
    color: rgba(92, 158, 227, 0.961)/* Blue hover color */
  }

  .un-header{
    flex: 0 0 auto;
    width: 248px;
    height: 61vh;
    padding: 20px;
    margin: -0.4%;
    background-color: rgb(28, 25, 25);
    position: fixed;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 3%;
    margin-top: 220px;
  }

  .song_img{
    width: 250px;
    height: 250px;
    margin-left: 0%;
    margin-top: 1%;
    border-radius: 7px;
  }
  .song_title{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin-top: 5%;
  }
  .audio{
    width: 200px;
    border: 1px solid black;
    border-radius: none;
    margin-top: -8%;
  }
  .prevButton{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(28, 25, 25);
    border-radius: 50%;
    margin-top: -6%;
    color: rgb(167, 167, 167);
    background-color: rgb(28, 25, 25);
    margin-left: 22%;
    font-size: 30px;
    cursor: pointer;
  }
  .playButton{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 50%;
    margin-top: -5%;
    color: rgb(1, 1, 1);
    background-color: rgb(167, 167, 167);
    margin-left: 3%;
    font-size: 19px;
    cursor: pointer;
    font-weight: 800;
    padding: 5px;

  }
  .stopeButton{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 50%;
    margin-top: -9%;
    color: rgb(1, 1, 1);
    background-color: rgb(167, 167, 167);
    margin-left: 3%;
    font-size: 20px;
    cursor: pointer;
    padding-top: 4.2px;
  }
  .nextButton{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(28, 25, 25);
    border-radius: 50%;
    margin-top: -8%;
    color: rgb(167, 167, 167);
    background-color: rgb(28, 25, 25);
    margin-left: 3%;
    font-size: 30px;
    cursor: pointer;
  }
  .nextButton:hover, .prevButton:hover{
    color: white;
  }
  .playButton:hover, .stopeButton:hover{
    background-color: white;
  }

  .nextButton::after, .prevButton::after{
    background-color: rgb(87, 87, 87);
  }

  .duration{
    -webkit-appearance: none;
    appearance:none;
    width: 220px;
    margin-left: 7%;
    height: 4px;
    border-radius: 15px;
    cursor: pointer;
    background: #d3d3d3;
  }

  .duration::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    
  }


  .duration::-webkit-slider-thumb:hover{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background:rgb(102, 173, 236);
  }

  .duration::-webkit-input-placeholder {
    color: #3e3e3e;
    font-size: 15px;
  }

  .range{
    -webkit-appearance: none;
    appearance: none;
    transform: rotate(270deg);
    height: 4px;
    width: 70px;
    padding: -20%;
    margin-left: -15%;
    border-radius: 30px;
    background: #d3d3d3;
  }
  
  .in_p{
    margin-top: -30%;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  .range::-webkit-slider-thumb:hover{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background:rgb(102, 173, 236);
  }
  
  /* Content area styling */
  .router-outlet { /* Assuming this is where your main content goes */
    flex: 1; /* Let the content area take the remaining space */
    padding: 20px; /* Add padding for spacing */
  }
  
  