<div class="album">
    <div class="top-bar">
        <img src="{{album.img_url}}" alt="" class="img-title">
        <h1 class="title">{{album.title}}</h1>
    </div>
    <div class="album-info">
        <h3>Popular</h3>
        <ul>
            <li *ngFor="let song of songs">
                <button (click)="playSong(song.id)" (click)="this.appComponent.playMusic()" class="song-title">
                    <img class="photo" src="{{song.img_url}}" alt="photo">
                    <p>{{song.title}}</p>
                </button>
            </li>
            
        </ul>
        <footer>
            <div class="team">
                <h3 style="color: white;">Our Team</h3>
                    <p><li>Kakarov Damir - Developer</li></p>
                    <p><li>Kaliyev Yerlan - Developer</li></p>
                    <p><li>Askar Nurzhan - Developer</li></p>
            </div>
            <div class="contacts">
                <h3 style="color: white;">Contact Us</h3>
                <p>Phone: +1 234 567 890</p>
            </div>
            <div class="legal">
                <p>&copy; KBTU22BD. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
        </footer>
    </div>
</div>

