.album{
    margin-left: 293px;
    background-color: rgb(181, 181, 181);
    width: 172.1vh;
    height: max-content;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 7px;
    position: relative;
    display: inline-block;
    box-shadow: 90px 90px 90px 90px rgba(246, 246, 246, 0.151);
    margin-top: -5px;
}

.img-title{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin-top: 2%;
    margin-left: 2%;
    display: block;
    border-radius: 5%;
    box-shadow: 0px 0px 30px 15px rgba(40, 40, 40, 0.5);
}

.title{
    color: white;
    font-size: 95px;
    font-weight: bolder;
    margin-top: -12%;
    margin-left: 20%;
    margin-bottom: 3.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.album-info{
    background-color: rgba(37, 34, 34, 0.5);
    position: absolute;
    width: 172.1vh;
    height: 103.3vh;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 7px;
}
h3{
    color: white;
    font-size: 30px;
    margin-top: 6%;
    margin-left: 3%;
}
ul{
    margin-left: -2%;
    font-size: large;
    cursor: pointer;
    width: 171vh;
    list-style: none;
    border-radius: 4%;
}

ul img{
    width: 40px;
    height: 40px;
    border-radius: 15%;  
    padding: 5px;
}

.song-title{
    margin-left: 4%;
    font-size: large;
    font-weight: 600;
    width: 155vh;
    justify-content: center;
    background-color: rgba(37, 34, 34, 0);
    text-align: left;
    border: 1px solid rgba(37, 34, 34, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.song-title:hover{
    background-color:rgba(92, 158, 227, 0.1) ;
}

.song-title p{
    margin-top: -4.3%;
    margin-left: 8%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.audio-player {
    font-family: Arial, sans-serif;
}

footer {
    color: rgb(158, 157, 157);
    text-align:left;
    padding: 20px 0;
    bottom: 0;
    margin-left: 3%;
    margin-top: 10%;
}

footer a {
    color: rgb(133, 132, 132);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/* Стили для раздела команды */
.team {
    margin-bottom: 10px;
}

.team h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.team ul {
    list-style-type: none;
    padding: 0;
}

.team ul li {
    margin-bottom: 5px;
}

/* Стили для раздела контактов */
.contacts h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.contacts p {
    margin: 5px 0;
}